.header h1 {
  line-height: 100px; 
  font-size: 5vw;
  margin-top: 0;
  margin-bottom: 80px;
}
.header {
      background: url(http://www.desktopwallpaperhd.net/wallpapers/20/d/backgrounds-wallpapers-jarzka-brown-store-ubuntu-designs-creative-vector-200749.jpg) no-repeat center center; 
      
      background-size: cover;
      height: 300px;
      text-align: center; 
}
.container {
  margin: 0 auto;
  max-width: 940px; 
  padding: 0 10px;
}
.header .container {
  position: relative;
  top: 22vh;
}

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto; 
  padding: 0;
}

.nav ul li {
  color: #fff;
  display: inline-block; 
  height: 80px;
  line-height: 80px; 
  list-style: none;
  padding: 0 10px;
  transition: background .5s; 
}

.btn{
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none; 
  transition: background .5s; 
}


.btn:hover, .nav ul li:hover {
  background: #117bff;
  cursor: pointer; 
  transition: background .5s;  
}

.main .container {
  margin: 80px auto;
}
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  
  background-color:rgba(0,0,0, 0.3);
}
.color2{
  background-color: black;
  weight:100%;
}
a:link .container{ color: red; text-decoration: none;}
a:visited .container{ color: white; text-decoration: none;}
a:hover .container{ color: white; text-decoration: none;}

a:link {
  color:black;
  text-decoration: none;
}
a:visited {
  color:black;
  text-decoration: none;
}a:hover {
  text-decoration: none;
}

.content{
  text-align: center;
}
.content li{
  list-style: none;
}
.content ul,menu,dir{
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.bigheader{
border: 5px;

background-color:rgba(255, 255, 255, 0.3); 

border-color: black;

border-style: solid;

border-width: 0;

width: 30vw;

margin: auto;
}
